html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #232323;
  --secondary-color: #313131;
  --secondary-hover: #373737;
}

body {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 1rem 3rem;
    /*background:rgb(35, 35, 35) 100%;*/
    background: var(--primary-color) 100%;
    display: block;

    font-family: 'Inter', sans-serif;
}

hr {
  height: 1px;
  background: var(--secondary-hover);
  font-size: 0;
  border: 0;
}

.main { 
  padding: 0 8px 48px;
  margin: 5rem 0;   
  color: whitesmoke;
  height: auto;
  min-height: 100vh;
}

.hello {
  margin: 16px 0 40px;
}


/* RSC BADGE */

@media screen and (min-width: 560px) {
    .badge {
  position: fixed;
  top: 25px;
  right: 5%;
  z-index: 10;
  width: auto-fit;
  }
}

.badge :hover {
  rotate: 10deg;
}

@media screen and (max-width: 560px) {
  .badge {
    position: fixed;
    bottom: 25px;
    right: 5%;
    z-index: 10;
    width: auto-fit;
  }
}


/* COOKING */

.cooking-arena {
  border-radius: 20px;
  outline-style: dotted;
}

.terms-and-conditions {
  max-width: 600px;
  display: block;
  flex-direction:column;
  height: 80%;
  color:whitesmoke
}

/* NAVIGATION */

.navigation {
  max-width: auto;
  width: auto;
  text-align: left;
  color:whitesmoke;
  padding: 0 0 2rem;
  font-size: 18px;
}   

  .content {
    max-width: 600px;
    display: flex;
    flex-direction:column;
    color:whitesmoke
  }

  ::selection {
    background: whitesmoke;
    color:black;
  }
  
  .nav2::before {
    content:"/";
    color: grey
  }

/* RECOMENDATIONS */

.recomendations {
  border: 1px dashed;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
}

.recomendations p {
  margin: 0px 0px 10px;
}

.recomendations ul {
  list-style-type: none;
  margin: 0 0 5px;
  padding-left: 10px;
}

.recomendations ul li::before {
  content: "\2192";
  margin-right: 1rem;
}

/* FOOTER */

.footer {
  margin: 50px 0 10px;
}

/*LINKS*/

.introduction a:link,
.introduction a:visited {
  background-color: #ffffff16;
  color: whitesmoke;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.introduction a:hover,
.introduction a:active {
  background-color: #ffffff28;
}

.navigation a:link,
.navigation a:visited {
  background-color: none;
  color: whitesmoke;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
  background-color: none;
  text-decoration: underline;
}

.recomendations a:link,
.recomendations a:visited {
  background-color: none;
  color: whitesmoke;
  text-decoration: none;
}

.recomendations a:hover,
.recomendations a:active {
  background-color: none;
  text-decoration: underline;
}

.responsibility a:link,
.responsibility a:visited {
  background-color: none;
  color: whitesmoke;
  text-decoration: underline;
}

.responsibility a:hover,
.responsibility a:active {
  background-color: none;
  text-decoration: underline;
}

/*BOOK PAGE*/

.book-intro {
  margin: 0 0 70px;
}

.book-collection-headline {
  display: block;
  font-size: 18px;
  background-color: var(--secondary-hover);
  padding: 5px 10px 5px;
  width: fit-content;
  margin: 10px auto 30px;
}

.book-list {
  list-style-type: none;
  padding: 0 0 0;
  margin: 10px 0 10px;
  display: grid;
  gap: auto; 
  grid-template-columns: repeat(auto-fit, minmax(163px, 1fr)); 
  max-width: 750px;
  margin-inline: auto;
  gap: 10px 8px;
}

.book-item {
  overflow: hidden;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.book-item img {
  display: block; /* Remove default spacing around image */
  width: 163px;
  border-radius: 5px;
  margin: auto;
}

@media screen and (min-width: 425px) {
  
  .book-info {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: 1.5px dashed;
    padding: 5px 10px;
    font-size: 13px;
    position: absolute;
    bottom: 3.75px; 
    left: 0; 
    right: 0; 
    width: fit-content;
    margin-inline: auto; 
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.1s ease;
  }

  .book-info p {
    margin: 2px;
  }
  
  .book-item:hover .book-info {
    transform: translateY(0);
    opacity: 1;
  }
  
  .book-info:hover {
    background-color: var(--secondary-hover);
  }
}

@media screen and (max-width: 425px) {
  
  .book-info {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 5px 10px;
    border: 1.5px dashed;
    font-size: 12px;
    width: fit-content;
    margin-inline: auto;
    background-color: var(--secondary-hover);
  }

  .book-info p {
    margin: 2px;
  }
}

.book-item a:link,
.book-item a:visited,
.book-item a:hover,
.book-item a:active {
  text-decoration: none;
  color:whitesmoke
}

.book-name {
  margin: 5px 1px 2px;
  line-height: 1.3;
}

.book-author {
  margin: 0px 1px 0px;
}

.anotations {
margin: 50px 0 0;
}

.anotation-item {
display: flex;
flex-direction: row;
margin: 25px 0 20px;
}

.anotation-picture {
  width: max-content;
  height: min-content;
  flex-shrink: 0;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:flex-start;
  overflow:hidden;
}

.anotation-picture img {
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0 20px;
}

hr .solid {
  border-top: 3px solid;
}

.anotation-info {
  padding: 10px 20px 20px;
  border-radius: 12px;
}

.anotation-text {
  margin: 0 0 15px;
  outline: 1px solid var(--secondary-hover);
  padding: 10px;
  border-radius: 12px;
}

.anotation-text p {
  margin: 0;
}

.anotation-text button {
  display: inline-block;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin: 5px 0 0;
}

.anotation-info h1 {
  font-size: 19px;
  margin: 0;
}

.anotation-info h2 {
  font-size: 17px;
  margin: 10px 0 20px;
}

.anotation-buttons {
  margin: 15px 0 0;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    outline: dashed 1px;
}

.button:hover {
    background-color: var(--secondary-hover); /* Darker shade on hover */
}

#more {
  display: none;
}